{{define "error"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/error.css">
    <title>Erreur</title>
    
</head>
<body>
    <div class="container">
        <div class="error-box">
            <div class="error-code">Erreur {{.Code}}</div>
            <div class="error-message">{{.Message}}</div>
        </div>
        <a href="/user/form" class="back-button">Retour au formulaire</a>
    </div>
</body>
</html>
{{end}}